In [189]:
import pandas as pd
titanic_data_frame = pd.read_csv('titanic-data.csv')

In [190]:
titanic_data_frame.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [191]:
titanic_data_frame.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [192]:
## split data frames into groups of passengers who survived
surviving_passengers_df =titanic_data_frame[titanic_data_frame['Survived']==1]
## replace value of Age where NA to be 0
surviving_passengers_df['Age'].fillna(value=0,inplace=True)

In [193]:
surviving_passengers_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [153]:
#statistics of patients who survived
surviving_passengers_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,342.000000,342.0,342.000000,342.000000,342.000000,342.000000,342.000000
mean,444.368421,1.0,1.950292,24.034123,0.473684,0.464912,48.395408
std,252.358840,0.0,0.863321,17.126720,0.708688,0.771712,66.596998
min,2.000000,1.0,1.000000,0.000000,0.000000,0.000000,0.000000
25%,250.750000,1.0,1.000000,7.250000,0.000000,0.000000,12.475000
50%,439.500000,1.0,2.000000,25.000000,0.000000,0.000000,26.000000
75%,651.500000,1.0,3.000000,35.000000,1.000000,1.000000,57.000000
max,890.000000,1.0,3.000000,80.000000,4.000000,5.000000,512.329200

In [165]:
## split data frames into groups of passengers who did not survive
non_surviving_passengers_df =titanic_data_frame[titanic_data_frame['Survived']==0]
## replace value of Age where NA to be 0
non_surviving_passengers_df['Age'].fillna(value=0,inplace=True)

In [156]:
non_surviving_passengers_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,0.0,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S

In [157]:
#statistics of patients who did not survive
non_surviving_passengers_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,549.000000,549.0,549.000000,549.000000,549.000000,549.000000,549.000000
mean,447.016393,0.0,2.531876,23.653005,0.553734,0.329690,22.117887
std,260.640469,0.0,0.735805,17.896150,1.288399,0.823166,31.388207
min,1.000000,0.0,1.000000,0.000000,0.000000,0.000000,0.000000
25%,211.000000,0.0,2.000000,4.000000,0.000000,0.000000,7.854200
50%,455.000000,0.0,3.000000,24.000000,0.000000,0.000000,10.500000
75%,675.000000,0.0,3.000000,35.000000,1.000000,0.000000,26.000000
max,891.000000,0.0,3.000000,74.000000,8.000000,6.000000,263.000000

In [158]:
# Mean Passenger class of passengers who survived
surviving_passengers_df['Pclass'].mean()

1.9502923976608186

In [159]:
# Mean age of passengers who survived
surviving_passengers_df['Age'].mean()

24.034122807017543

In [160]:
#compute age based statistics of passengers in each class who survived
surviving_passengers_df.groupby('Pclass')['Age'].describe()

Pclass
1       count    136.000000
        mean      31.727353
        std       16.913693
        min        0.000000
        25%       22.000000
        50%       33.500000
        75%       43.250000
        max       80.000000
2       count     87.000000
        mean      24.710690
        std       15.481908
        min        0.000000
        25%       13.500000
        50%       27.000000
        75%       34.000000
        max       62.000000
3       count    119.000000
        mean      14.747227
        std       13.789611
        min        0.000000
        25%        0.000000
        50%       16.000000
        75%       26.000000
        max       63.000000
Name: Age, dtype: float64

In [161]:
# Statistics about passengers who survived based on sex
surviving_passengers_df.groupby('Sex')['PassengerId'].describe()

Sex
female  count    233.000000
        mean     429.699571
        std      255.048296
        min        2.000000
        25%      238.000000
        50%      400.000000
        75%      636.000000
        max      888.000000
male    count    109.000000
        mean     475.724771
        std      244.717482
        min       18.000000
        25%      272.000000
        50%      508.000000
        75%      680.000000
        max      890.000000
Name: PassengerId, dtype: float64

In [173]:
## Statistics based on port of embarkation
print 'Count per embarked port'
print surviving_passengers_df.groupby('Embarked')['PassengerId'].count()
print 'Mean per embarked port'
print surviving_passengers_df.groupby('Embarked')['PassengerId'].mean()
print 'Standard Deviation per embarked port'
print surviving_passengers_df.groupby('Embarked')['PassengerId'].std()

Count per embarked port
Embarked
       2
C     93
Q     30
S    217
Name: PassengerId, dtype: int64
Mean per embarked port
Embarked
     446.000000
C    473.989247
Q    319.966667
S    448.857143
Name: PassengerId, dtype: float64
Standard Deviation per embarked port
Embarked
     543.058008
C    253.344348
Q    224.947424
S    249.991764
Name: PassengerId, dtype: float64

In [182]:
#Count the no of surviving passengers having sibling/spouse on aboard
surviving_passengers_df.groupby('SibSp')['PassengerId'].count()

SibSp
0    210
1    112
2     13
3      4
4      3
Name: PassengerId, dtype: int64

In [183]:
#Count the no of surviving passengers having parents on aboard
surviving_passengers_df.groupby('Parch')['PassengerId'].count()

Parch
0    233
1     65
2     40
3      3
5      1
Name: PassengerId, dtype: int64

In [205]:
#Determine parents/spouse/sibling count for passengers on board
titanic_data_frame.groupby(['Survived','Parch','SibSp'])['Parch'].count()

Survived  Parch  SibSp
0         0      0        374
                 1         59
                 2         12
          1      0         13
                 1         23
                 2          1
                 3          7
                 4          9
          2      0          8
                 1          7
                 2          2
                 3          5
                 4          6
                 5          5
                 8          7
          3      1          2
          4      0          1
                 1          3
          5      0          2
                 1          2
          6      1          1
1         0      0        163
                 1         64
                 2          4
                 3          2
          1      0         25
                 1         34
                 2          6
          2      0         21
                 1         12
                 2          2
                 3          2
                 4          3
          3      0          1
                 1          1
                 2          1
          5      1          1
Name: Parch, dtype: int64

In [316]:
#Determine families who lost family members in the disaster
family_members_count=0
for name,data_point in titanic_data_frame.groupby('Ticket'):
    family_members_count=data_point.size/12
    alive_family_members_count=0
    passenger_group =data_point.reset_index().iloc[0]
    family_member_count=max(passenger_group.SibSp+passenger_group.Parch+1,family_members_count)
    if  family_members_count > 1:
        for family_member in range(len(data_point)): 
            if data_point.iloc[family_member]['Survived']==1:
                alive_family_members_count+=1
        if alive_family_members_count<family_members_count:
            print data_point

     PassengerId  Survived  Pclass                                    Name  \
262          263         0       1                       Taussig, Mr. Emil
558          559         1       1  Taussig, Mrs. Emil (Tillie Mandelbaum)
585          586         1       1                     Taussig, Miss. Ruth

        Sex   Age  SibSp  Parch  Ticket   Fare Cabin Embarked
262    male  52.0      1      1  110413  79.65   E67        S
558  female  39.0      1      1  110413  79.65   E67        S
585  female  18.0      0      2  110413  79.65   E68        S
     PassengerId  Survived  Pclass                            Name   Sex  \
110          111         0       1  Porter, Mr. Walter Chamberlain  male
475          476         0       1     Clifford, Mr. George Quincy  male

      Age  SibSp  Parch  Ticket  Fare Cabin Embarked
110  47.0      0      0  110465  52.0  C110        S
475   NaN      0      0  110465  52.0   A14        S
     PassengerId  Survived  Pclass                               Name     Sex  \
151          152         1       1  Pears, Mrs. Thomas (Edith Wearne)  female
336          337         0       1          Pears, Mr. Thomas Clinton    male

      Age  SibSp  Parch  Ticket  Fare Cabin Embarked
151  22.0      1      0  113776  66.6    C2        S
336  29.0      1      0  113776  66.6    C2        S
     PassengerId  Survived  Pclass  \
297          298         0       1
305          306         1       1
498          499         0       1
708          709         1       1

                                                Name     Sex    Age  SibSp  \
297                     Allison, Miss. Helen Loraine  female   2.00      1
305                   Allison, Master. Hudson Trevor    male   0.92      1
498  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female  25.00      1
708                             Cleaver, Miss. Alice  female  22.00      0

     Parch  Ticket    Fare    Cabin Embarked
297      2  113781  151.55  C22 C26        S
305      2  113781  151.55  C22 C26        S
498      2  113781  151.55  C22 C26        S
708      0  113781  151.55      NaN        S
     PassengerId  Survived  Pclass  \
35            36         0       1
383          384         1       1

                                                  Name     Sex   Age  SibSp  \
35                      Holverson, Mr. Alexander Oskar    male  42.0      1
383  Holverson, Mrs. Alexander Oskar (Mary Aline To...  female  35.0      1

     Parch  Ticket  Fare Cabin Embarked
35       0  113789  52.0   NaN        S
383      0  113789  52.0   NaN        S
     PassengerId  Survived  Pclass                     Name     Sex   Age  \
270          271         0       1    Cairns, Mr. Alexander    male   NaN
842          843         1       1  Serepeca, Miss. Augusta  female  30.0

     SibSp  Parch  Ticket  Fare Cabin Embarked
270      0      0  113798  31.0   NaN        S
842      0      0  113798  31.0   NaN        C
     PassengerId  Survived  Pclass  \
3              4         1       1
137          138         0       1

                                             Name     Sex   Age  SibSp  Parch  \
3    Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1      0
137                   Futrelle, Mr. Jacques Heath    male  37.0      1      0

     Ticket  Fare Cabin Embarked
3    113803  53.1  C123        S
137  113803  53.1  C123        S
     PassengerId  Survived  Pclass  \
41            42         0       2
117          118         0       2

                                                  Name     Sex   Age  SibSp  \
41   Turpin, Mrs. William John Robert (Dorothy Ann ...  female  27.0      1
117                    Turpin, Mr. William John Robert    male  29.0      1

     Parch Ticket  Fare Cabin Embarked
41       0  11668  21.0   NaN        S
117      0  11668  21.0   NaN        S
     PassengerId  Survived  Pclass                                       Name  \
434          435         0       1                  Silvey, Mr. William Baird
577          578         1       1  Silvey, Mrs. William Baird (Alice Munger)

        Sex   Age  SibSp  Parch Ticket  Fare Cabin Embarked
434    male  50.0      1      0  13507  55.9   E44        S
577  female  39.0      1      0  13507  55.9   E44        S
     PassengerId  Survived  Pclass             Name   Sex   Age  SibSp  Parch  \
74            75         1       3    Bing, Mr. Lee  male  32.0      0      0
169          170         0       3    Ling, Mr. Lee  male  28.0      0      0
509          510         1       3   Lang, Mr. Fang  male  26.0      0      0
643          644         1       3  Foo, Mr. Choong  male   NaN      0      0
692          693         1       3     Lam, Mr. Ali  male   NaN      0      0
826          827         0       3     Lam, Mr. Len  male   NaN      0      0
838          839         1       3  Chip, Mr. Chang  male  32.0      0      0

    Ticket     Fare Cabin Embarked
74    1601  56.4958   NaN        S
169   1601  56.4958   NaN        S
509   1601  56.4958   NaN        S
643   1601  56.4958   NaN        S
692   1601  56.4958   NaN        S
826   1601  56.4958   NaN        S
838   1601  56.4958   NaN        S
     PassengerId  Survived  Pclass  \
306          307         1       1
550          551         1       1
581          582         1       1
698          699         0       1

                                                  Name     Sex   Age  SibSp  \
306                            Fleming, Miss. Margaret  female   NaN      0
550                        Thayer, Mr. John Borland Jr    male  17.0      0
581  Thayer, Mrs. John Borland (Marian Longstreth M...  female  39.0      1
698                           Thayer, Mr. John Borland    male  49.0      1

     Parch Ticket      Fare Cabin Embarked
306      0  17421  110.8833   NaN        C
550      2  17421  110.8833   C70        C
581      1  17421  110.8833   C68        C
698      1  17421  110.8833   C68        C
     PassengerId  Survived  Pclass                           Name     Sex  \
290          291         1       1   Barber, Miss. Ellen "Nellie"  female
741          742         0       1  Cavendish, Mr. Tyrell William    male

      Age  SibSp  Parch Ticket   Fare Cabin Embarked
290  26.0      0      0  19877  78.85   NaN        S
741  36.0      1      0  19877  78.85   C46        S
     PassengerId  Survived  Pclass                         Name     Sex   Age  \
245          246         0       1  Minahan, Dr. William Edward    male  44.0
412          413         1       1       Minahan, Miss. Daisy E  female  33.0

     SibSp  Parch Ticket  Fare Cabin Embarked
245      2      0  19928  90.0   C78        Q
412      1      0  19928  90.0   C78        Q
     PassengerId  Survived  Pclass                            Name     Sex  \
27            28         0       1  Fortune, Mr. Charles Alexander    male
88            89         1       1      Fortune, Miss. Mabel Helen  female
341          342         1       1  Fortune, Miss. Alice Elizabeth  female
438          439         0       1               Fortune, Mr. Mark    male

      Age  SibSp  Parch Ticket   Fare        Cabin Embarked
27   19.0      3      2  19950  263.0  C23 C25 C27        S
88   23.0      3      2  19950  263.0  C23 C25 C27        S
341  24.0      3      2  19950  263.0  C23 C25 C27        S
438  64.0      1      4  19950  263.0  C23 C25 C27        S
     PassengerId  Survived  Pclass                                      Name  \
148          149         0       2  Navratil, Mr. Michel ("Louis M Hoffman")
193          194         1       2                Navratil, Master. Michel M
340          341         1       2            Navratil, Master. Edmond Roger

      Sex   Age  SibSp  Parch  Ticket  Fare Cabin Embarked
148  male  36.5      0      2  230080  26.0    F2        S
193  male   3.0      1      1  230080  26.0    F2        S
340  male   2.0      1      1  230080  26.0    F2        S
     PassengerId  Survived  Pclass                                 Name  \
9             10         1       2  Nasser, Mrs. Nicholas (Adele Achem)
122          123         0       2                 Nasser, Mr. Nicholas

        Sex   Age  SibSp  Parch  Ticket     Fare Cabin Embarked
9    female  14.0      1      0  237736  30.0708   NaN        C
122    male  32.5      1      0  237736  30.0708   NaN        C
     PassengerId  Survived  Pclass                            Name   Sex  Age  \
277          278         0       2     Parkes, Mr. Francis "Frank"  male  NaN
413          414         0       2  Cunningham, Mr. Alfred Fleming  male  NaN
466          467         0       2           Campbell, Mr. William  male  NaN

     SibSp  Parch  Ticket  Fare Cabin Embarked
277      0      0  239853   0.0   NaN        S
413      0      0  239853   0.0   NaN        S
466      0      0  239853   0.0   NaN        S
     PassengerId  Survived  Pclass                  Name   Sex   Age  SibSp  \
20            21         0       2  Fynney, Mr. Joseph J  male  35.0      0
791          792         0       2   Gaskell, Mr. Alfred  male  16.0      0

     Parch  Ticket  Fare Cabin Embarked
20       0  239865  26.0   NaN        S
791      0  239865  26.0   NaN        S
     PassengerId  Survived  Pclass  \
217          218         0       2
600          601         1       2

                                                  Name     Sex   Age  SibSp  \
217                       Jacobsohn, Mr. Sidney Samuel    male  42.0      1
600  Jacobsohn, Mrs. Sidney Samuel (Amy Frances Chr...  female  24.0      2

     Parch  Ticket  Fare Cabin Embarked
217      0  243847  27.0   NaN        S
600      1  243847  27.0   NaN        S
     PassengerId  Survived  Pclass  \
249          250         0       2
854          855         0       2

                                              Name     Sex   Age  SibSp  \
249                  Carter, Rev. Ernest Courtenay    male  54.0      1
854  Carter, Mrs. Ernest Courtenay (Lilian Hughes)  female  44.0      1

     Parch  Ticket  Fare Cabin Embarked
249      0  244252  26.0   NaN        S
854      0  244252  26.0   NaN        S
     PassengerId  Survived  Pclass                                 Name  \
99           100         0       2                    Kantor, Mr. Sinai
316          317         1       2  Kantor, Mrs. Sinai (Miriam Sternin)

        Sex   Age  SibSp  Parch  Ticket  Fare Cabin Embarked
99     male  34.0      1      0  244367  26.0   NaN        S
316  female  24.0      1      0  244367  26.0   NaN        S
     PassengerId  Survived  Pclass                               Name     Sex  \
596          597         1       2         Leitch, Miss. Jessie Wills  female
720          721         1       2  Harper, Miss. Annie Jessie "Nina"  female
848          849         0       2                  Harper, Rev. John    male

      Age  SibSp  Parch  Ticket  Fare Cabin Embarked
596   NaN      0      0  248727  33.0   NaN        S
720   6.0      0      1  248727  33.0   NaN        S
848  28.0      0      1  248727  33.0   NaN        S
     PassengerId  Survived  Pclass                   Name   Sex   Age  SibSp  \
714          715         0       2  Greenberg, Mr. Samuel  male  52.0      0
800          801         0       2   Ponesell, Mr. Martin  male  34.0      0

     Parch  Ticket  Fare Cabin Embarked
714      0  250647  13.0   NaN        S
800      0  250647  13.0   NaN        S
     PassengerId  Survived  Pclass  \
427          428         1       2
705          706         0       2

                                                  Name     Sex   Age  SibSp  \
427  Phillips, Miss. Kate Florence ("Mrs Kate Louis...  female  19.0      0
705     Morley, Mr. Henry Samuel ("Mr Henry Marshall")    male  39.0      0

     Parch  Ticket  Fare Cabin Embarked
427      0  250655  26.0   NaN        S
705      0  250655  26.0   NaN        S
     PassengerId  Survived  Pclass                   Name     Sex   Age  \
114          115         0       3  Attalah, Miss. Malake  female  17.0
495          496         0       3  Yousseff, Mr. Gerious    male   NaN

     SibSp  Parch Ticket     Fare Cabin Embarked
114      0      0   2627  14.4583   NaN        C
495      0      0   2627  14.4583   NaN        C
     PassengerId  Survived  Pclass                                     Name  \
620          621         0       3                      Yasbeck, Mr. Antoni
830          831         1       3  Yasbeck, Mrs. Antoni (Selini Alexander)

        Sex   Age  SibSp  Parch Ticket     Fare Cabin Embarked
620    male  27.0      1      0   2659  14.4542   NaN        C
830  female  15.0      1      0   2659  14.4542   NaN        C
     PassengerId  Survived  Pclass                   Name     Sex   Age  \
111          112         0       3   Zabour, Miss. Hileni  female  14.5
240          241         0       3  Zabour, Miss. Thamine  female   NaN

     SibSp  Parch Ticket     Fare Cabin Embarked
111      1      0   2665  14.4542   NaN        C
240      1      0   2665  14.4542   NaN        C
     PassengerId  Survived  Pclass                           Name     Sex  \
140          141         0       3  Boulos, Mrs. Joseph (Sultana)  female
852          853         0       3        Boulos, Miss. Nourelain  female

     Age  SibSp  Parch Ticket     Fare Cabin Embarked
140  NaN      0      2   2678  15.2458   NaN        C
852  9.0      1      1   2678  15.2458   NaN        C
     PassengerId  Survived  Pclass                             Name     Sex  \
362          363         0       3  Barbara, Mrs. (Catherine David)  female
702          703         0       3            Barbara, Miss. Saiide  female

      Age  SibSp  Parch Ticket     Fare Cabin Embarked
362  45.0      0      1   2691  14.4542   NaN        C
702  18.0      0      1   2691  14.4542   NaN        C
     PassengerId  Survived  Pclass                         Name   Sex   Age  \
207          208         1       3  Albimona, Mr. Nassef Cassem  male  26.0
731          732         0       3     Hassan, Mr. Houssein G N  male  11.0

     SibSp  Parch Ticket     Fare Cabin Embarked
207      0      0   2699  18.7875   NaN        C
731      0      0   2699  18.7875   NaN        C
     PassengerId  Survived  Pclass                        Name   Sex   Age  \
397          398         0       2     McKane, Mr. Peter David  male  46.0
582          583         0       2  Downton, Mr. William James  male  54.0

     SibSp  Parch Ticket  Fare Cabin Embarked
397      0      0  28403  26.0   NaN        S
582      0      0  28403  26.0   NaN        S
     PassengerId  Survived  Pclass  \
670          671         1       2
684          685         0       2

                                                  Name     Sex   Age  SibSp  \
670  Brown, Mrs. Thomas William Solomon (Elizabeth ...  female  40.0      1
684                  Brown, Mr. Thomas William Solomon    male  60.0      1

     Parch Ticket  Fare Cabin Embarked
670      1  29750  39.0   NaN        S
684      1  29750  39.0   NaN        S
     PassengerId  Survived  Pclass  \
85            86         1       3
206          207         0       3

                                                  Name     Sex   Age  SibSp  \
85   Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...  female  33.0      3
206                         Backstrom, Mr. Karl Alfred    male  32.0      1

     Parch   Ticket   Fare Cabin Embarked
85       0  3101278  15.85   NaN        S
206      0  3101278  15.85   NaN        S
     PassengerId  Survived  Pclass                                    Name  \
50            51         0       3              Panula, Master. Juha Niilo
164          165         0       3            Panula, Master. Eino Viljami
266          267         0       3               Panula, Mr. Ernesti Arvid
638          639         0       3  Panula, Mrs. Juha (Maria Emilia Ojala)
686          687         0       3                Panula, Mr. Jaako Arnold
824          825         0       3            Panula, Master. Urho Abraham

        Sex   Age  SibSp  Parch   Ticket     Fare Cabin Embarked
50     male   7.0      4      1  3101295  39.6875   NaN        S
164    male   1.0      4      1  3101295  39.6875   NaN        S
266    male  16.0      4      1  3101295  39.6875   NaN        S
638  female  41.0      0      5  3101295  39.6875   NaN        S
686    male  14.0      4      1  3101295  39.6875   NaN        S
824    male   2.0      4      1  3101295  39.6875   NaN        S
     PassengerId  Survived  Pclass  \
476          477         0       2
726          727         1       2

                                            Name     Sex   Age  SibSp  Parch  \
476                      Renouf, Mr. Peter Henry    male  34.0      1      0
726  Renouf, Mrs. Peter Henry (Lillian Jefferys)  female  30.0      3      0

    Ticket  Fare Cabin Embarked
476  31027  21.0   NaN        S
726  31027  21.0   NaN        S
     PassengerId  Survived  Pclass                                Name  \
38            39         0       3  Vander Planke, Miss. Augusta Maria
333          334         0       3     Vander Planke, Mr. Leo Edmondus

        Sex   Age  SibSp  Parch  Ticket  Fare Cabin Embarked
38   female  18.0      2      0  345764  18.0   NaN        S
333    male  16.0      2      0  345764  18.0   NaN        S
     PassengerId  Survived  Pclass  \
419          420         0       3
595          596         0       3
799          800         0       3

                                                  Name     Sex   Age  SibSp  \
419                          Van Impe, Miss. Catharina  female  10.0      0
595                        Van Impe, Mr. Jean Baptiste    male  36.0      1
799  Van Impe, Mrs. Jean Baptiste (Rosalie Paula Go...  female  30.0      1

     Parch  Ticket   Fare Cabin Embarked
419      2  345773  24.15   NaN        S
595      1  345773  24.15   NaN        S
799      1  345773  24.15   NaN        S
     PassengerId  Survived  Pclass  \
205          206         0       3
251          252         0       3

                                           Name     Sex   Age  SibSp  Parch  \
205                  Strom, Miss. Telma Matilda  female   2.0      0      1
251  Strom, Mrs. Wilhelm (Elna Matilda Persson)  female  29.0      1      1

     Ticket     Fare Cabin Embarked
205  347054  10.4625    G6        S
251  347054  10.4625    G6        S
     PassengerId  Survived  Pclass  \
25            26         1       3
182          183         0       3
233          234         1       3
261          262         1       3

                                                  Name     Sex   Age  SibSp  \
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female  38.0      1
182              Asplund, Master. Clarence Gustaf Hugo    male   9.0      4
233                     Asplund, Miss. Lillian Gertrud  female   5.0      4
261                  Asplund, Master. Edvin Rojj Felix    male   3.0      4

     Parch  Ticket     Fare Cabin Embarked
25       5  347077  31.3875   NaN        S
182      2  347077  31.3875   NaN        S
233      2  347077  31.3875   NaN        S
261      2  347077  31.3875   NaN        S
     PassengerId  Survived  Pclass  \
423          424         0       3
616          617         0       3

                                                  Name     Sex   Age  SibSp  \
423  Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria ...  female  28.0      1
616                          Danbom, Mr. Ernst Gilbert    male  34.0      1

     Parch  Ticket  Fare Cabin Embarked
423      1  347080  14.4   NaN        S
616      1  347080  14.4   NaN        S
     PassengerId  Survived  Pclass  \
13            14         0       3
119          120         0       3
541          542         0       3
542          543         0       3
610          611         0       3
813          814         0       3
850          851         0       3

                                                  Name     Sex   Age  SibSp  \

In [322]:

g = titanic_data_frame.groupby('Ticket')
g.apply(lambda x: x[x['Survived'] == 1]['PassengerId'].count())

Ticket
110152               3
110413               2
110465               0
110564               1
110813               1
111240               0
111320               0
111361               2
111369               1
111426               1
111427               1
111428               1
112050               0
112052               0
112053               1
112058               0
112059               0
112277               1
112379               0
113028               0
113043               0
113050               0
113051               0
113055               1
113056               0
113059               0
113501               0
113503               0
113505               2
113509               0
                    ..
SOTON/OQ 392082      0
SOTON/OQ 392086      0
SOTON/OQ 392089      1
SOTON/OQ 392090      0
STON/O 2. 3101269    1
STON/O 2. 3101273    0
STON/O 2. 3101274    0
STON/O 2. 3101275    0
STON/O 2. 3101280    0
STON/O 2. 3101285    1
STON/O 2. 3101286    1
STON/O 2. 3101288    1
STON/O 2. 3101289    1
STON/O 2. 3101292    0
STON/O 2. 3101293    0
STON/O 2. 3101294    0
STON/O2. 3101271     0
STON/O2. 3101279     1
STON/O2. 3101282     1
STON/O2. 3101283     1
STON/O2. 3101290     0
SW/PP 751            1
W./C. 14258          1
W./C. 14263          0
W./C. 6607           0
W./C. 6608           0
W./C. 6609           0
W.E.P. 5734          0
W/C 14208            0
WE/P 5735            1
dtype: int64

In [ ]:
aggregations ={
    'Survived':{
        'total_members' : 'count'
        'surviving_members' : 
    }
}